<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="employees_sourse" value="employees.xml" />
    <add key="selected_employees" value="selected_employees.xml" />
  </appSettings>
</configuration>